{% extends "base.html" %}
{% block content %}
    <form class="mt-5" action="{{ url_for('cadastrarPreco') }}" method="post">
        <fieldset>
            <div class="form-group">
                <div class="dropdown d-flex justify-content-between">
                    <div class="dropdown-bairro">
                        <input type="hidden" name="bairro" class="form-control">
                        <button class="btn btn-dark dropdown-toggle btn-custom" type="button" id="bairro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione o bairro
                        </button>
                        <div class="dropdown-menu scrollable-menu dropdown-custom" aria-labelledby="bairro">
                            <a class="dropdown-item" href="#">ACLIMACAO</a>
                            <a class="dropdown-item" href="#">AGUA BRANCA</a>
                            <a class="dropdown-item" href="#">AGUA RASA</a>
                            <a class="dropdown-item" href="#">ALTO DA LAPA</a>
                            <a class="dropdown-item" href="#">ALTO DA MOOCA</a>
                            <a class="dropdown-item" href="#">ALTO DE PINHEIROS</a>
                            <a class="dropdown-item" href="#">ARTUR ALVIM</a>
                            <a class="dropdown-item" href="#">BAIRRO DO ALEM</a>
                            <a class="dropdown-item" href="#">BAIRRO DO LIMAO</a>
                            <a class="dropdown-item" href="#">BAIRRO LIMOEIRO</a>
                            <a class="dropdown-item" href="#">BARRA FUNDA</a>
                            <a class="dropdown-item" href="#">BELA VISTA</a>
                            <a class="dropdown-item" href="#">BELÉM</a>
                            <a class="dropdown-item" href="#">BELENZINHO</a>
                            <a class="dropdown-item" href="#">BOM RETIRO</a>
                            <a class="dropdown-item" href="#">BOSQUE DA SAUDE</a>
                            <a class="dropdown-item" href="#">BRÁS</a>
                            <a class="dropdown-item" href="#">BROOKLIN</a>
                            <a class="dropdown-item" href="#">BUTANTÃ</a>
                            <a class="dropdown-item" href="#">CAMBUCI</a>
                            <a class="dropdown-item" href="#">CAMPO BELO</a>
                            <a class="dropdown-item" href="#">CAMPO GRANDE</a>
                            <a class="dropdown-item" href="#">CAMPOS ELÍSEOS</a>
                            <a class="dropdown-item" href="#">CANINDÉ</a>
                            <a class="dropdown-item" href="#">CARANDIRU</a>
                            <a class="dropdown-item" href="#">CASA VERDE</a>
                            <a class="dropdown-item" href="#">CAXINGUI</a>
                            <a class="dropdown-item" href="#">CENTRO</a>
                            <a class="dropdown-item" href="#">CERQUEIRA CÉSAR</a>
                            <a class="dropdown-item" href="#">CHACARA BELENZINHO</a>
                            <a class="dropdown-item" href="#">CHACARA CALIFORNIA</a>
                            <a class="dropdown-item" href="#">CHACARA MAFALDA</a>
                            <a class="dropdown-item" href="#">CHACARA PARAISO</a>
                            <a class="dropdown-item" href="#">CHACARA SANTO ANTONIO (ZONA LESTE)</a>
                            <a class="dropdown-item" href="#">CICY LAPA 1</a>
                            <a class="dropdown-item" href="#">CIDADE AE CARVALHO</a>
                            <a class="dropdown-item" href="#">CIDADE ADEMAR</a>
                            <a class="dropdown-item" href="#">CIDADE LIDER</a>
                            <a class="dropdown-item" href="#">CIDADE MÃE DO CÉU</a>
                            <a class="dropdown-item" href="#">CIDADE MONÇÕES</a>
                            <a class="dropdown-item" href="#">CIDADE NITRO OPERÁRIA</a>
                            <a class="dropdown-item" href="#">CIDADE PATRIARCA</a>
                            <a class="dropdown-item" href="#">CIDADE TIRADENTES</a>
                            <a class="dropdown-item" href="#">COHAB J.BONIFACIO</a>
                            <a class="dropdown-item" href="#">CONSOLACAO</a>
                            <a class="dropdown-item" href="#">ERMELINO MATARAZZO</a>
                            <a class="dropdown-item" href="#">FAZENDA SANTA ETELVINA</a>
                            <a class="dropdown-item" href="#">FERREIRA</a>
                            <a class="dropdown-item" href="#">FREGUESIA DO Ó</a>
                            <a class="dropdown-item" href="#">GUAIANAZES</a>
                            <a class="dropdown-item" href="#">GUAIAUNA</a>
                            <a class="dropdown-item" href="#">GUARAPIRANGA</a>
                            <a class="dropdown-item" href="#">GUARULHOS 3</a>
                            <a class="dropdown-item" href="#">HIGIENOPOLIS</a>
                            <a class="dropdown-item" href="#">IMIRIM</a>
                            <a class="dropdown-item" href="#">INTERLAGOS</a>
                            <a class="dropdown-item" href="#">IPIRANGA</a>
                            <a class="dropdown-item" href="#">ITABERABA</a>
                            <a class="dropdown-item" href="#">ITAIM BIBI</a>
                            <a class="dropdown-item" href="#">ITAIM PAULISTA</a>
                            <a class="dropdown-item" href="#">ITAQUERA</a>
                            <a class="dropdown-item" href="#">JARDIM SÃO CRISTOVAO</a>
                            <a class="dropdown-item" href="#">JABAQUARA</a>
                            <a class="dropdown-item" href="#">JAÇANÃ</a>
                            <a class="dropdown-item" href="#">JAGUARÉ</a>
                            <a class="dropdown-item" href="#">JARAGUÁ</a>
                            <a class="dropdown-item" href="#">JARDIM ADELFIORI</a>
                            <a class="dropdown-item" href="#">JARDIM AMALIA</a>
                            <a class="dropdown-item" href="#">JARDIM AMÉRICA</a>
                            <a class="dropdown-item" href="#">JARDIM AMÉRICA DA PENHA</a>
                            <a class="dropdown-item" href="#">JARDIM ANÁLIA FRANCO</a>
                            <a class="dropdown-item" href="#">JARDIM ANGELA</a>
                            <a class="dropdown-item" href="#">JARDIM ARICANDUVA</a>
                            <a class="dropdown-item" href="#">JARDIM AVELINO</a>
                            <a class="dropdown-item" href="#">JARDIM BRASIL</a>
                            <a class="dropdown-item" href="#">JARDIM BRASIL (ZONA NORTE)</a>
                            <a class="dropdown-item" href="#">JARDIM CELESTE</a>
                            <a class="dropdown-item" href="#">JARDIM CLIMAX</a>
                            <a class="dropdown-item" href="#">JARDIM COLONIAL</a>
                            <a class="dropdown-item" href="#">JARDIM CONSORCIO</a>
                            <a class="dropdown-item" href="#">JARDIM COTINHA</a>
                            <a class="dropdown-item" href="#">JARDIM DA SAUDE</a>
                            <a class="dropdown-item" href="#">JARDIM DAS BANDEIRAS</a>
                            <a class="dropdown-item" href="#">JARDIM DAS OLIVEIRAS</a>
                            <a class="dropdown-item" href="#">JARDIM DAS ROSAS - PINHEIROS</a>
                            <a class="dropdown-item" href="#">JARDIM DULIN</a>
                            <a class="dropdown-item" href="#">JARDIM ESMERALDA</a>
                            <a class="dropdown-item" href="#">JARDIM ESPERANÇA</a>
                            <a class="dropdown-item" href="#">JARDIM GLORIA</a>
                            <a class="dropdown-item" href="#">JARDIM GRIMALDI</a>
                            <a class="dropdown-item" href="#">JARDIM GUAIRACA</a>
                            <a class="dropdown-item" href="#">JARDIM HELENA</a>
                            <a class="dropdown-item" href="#">JARDIM IDA GUEDES</a>
                            <a class="dropdown-item" href="#">JARDIM IGUATEMI - SAO MATHEUS</a>
                            <a class="dropdown-item" href="#">JARDIM IPANEMA</a>
                            <a class="dropdown-item" href="#">JARDIM IV CENTENARIO</a>
                            <a class="dropdown-item" href="#">JARDIM JAPAO</a>
                            <a class="dropdown-item" href="#">JARDIM LEILA</a>
                            <a class="dropdown-item" href="#">JARDIM MAIA</a>
                            <a class="dropdown-item" href="#">JARDIM MARAJOARA</a>
                            <a class="dropdown-item" href="#">JARDIM MARIA ESTELA</a>
                            <a class="dropdown-item" href="#">JARDIM MARINA</a>
                            <a class="dropdown-item" href="#">JARDIM MARISTELA</a>
                            <a class="dropdown-item" href="#">JARDIM MODELO</a>
                            <a class="dropdown-item" href="#">JARDIM NOSSA SENHORA DO CARMO</a>
                            <a class="dropdown-item" href="#">JARDIM PAULISTA</a>
                            <a class="dropdown-item" href="#">JARDIM PEREIRA LEITE</a>
                            <a class="dropdown-item" href="#">JARDIM POPULAR</a>
                            <a class="dropdown-item" href="#">JARDIM PREVIDENCIA</a>
                            <a class="dropdown-item" href="#">JARDIM PRUDENCIA</a>
                            <a class="dropdown-item" href="#">JARDIM REGINA - PIRITUBA</a>
                            <a class="dropdown-item" href="#">JARDIM SÃO PAULO</a>
                            <a class="dropdown-item" href="#">JARDIM SAO SEBASTIÃO</a>
                            <a class="dropdown-item" href="#">JARDIM TREMEMBÉ</a>
                            <a class="dropdown-item" href="#">JARDIM UMUARAMA</a>
                            <a class="dropdown-item" href="#">JARDIM VILA MARIANA</a>
                            <a class="dropdown-item" href="#">JARDIM VIRGINIA</a>
                            <a class="dropdown-item" href="#">JARDIM VISTA LINDA</a>
                            <a class="dropdown-item" href="#">JARDIM COTINHA</a>
                            <a class="dropdown-item" href="#">JARDIM DA GLORIA</a>
                            <a class="dropdown-item" href="#">JARDIM DA SAUDE</a>
                            <a class="dropdown-item" href="#">JARDIM DONA SINHA</a>
                            <a class="dropdown-item" href="#">JARDIM IMPERADOR</a>
                            <a class="dropdown-item" href="#">JARDIM NOSSA SENHORA DO CAMINHO</a>
                            <a class="dropdown-item" href="#">JARDIM NOSSA SENHORA DO CARMO</a>
                            <a class="dropdown-item" href="#">JARDIM SÃO PAULO</a>
                            <a class="dropdown-item" href="#">JARDIM SILVA TELES</a>
                            <a class="dropdown-item" href="#">JARDIM HILTON SANTOS</a>
                            <a class="dropdown-item" href="#">JARDIM RAPOSO TAVARES</a>
                            <a class="dropdown-item" href="#">JURUBATUBA</a>
                            <a class="dropdown-item" href="#">LAPA</a>
                            <a class="dropdown-item" href="#">LIBERDADE</a>
                            <a class="dropdown-item" href="#">LIMAO</a>
                            <a class="dropdown-item" href="#">LIMOEIRO</a>
                            <a class="dropdown-item" href="#">MERCADO</a>
                            <a class="dropdown-item" href="#">MOEMA</a>
                            <a class="dropdown-item" href="#">MOINHO VELHO</a>
                            <a class="dropdown-item" href="#">MOOCA</a>
                            <a class="dropdown-item" href="#">NOSSA SENHORA DO O</a>
                            <a class="dropdown-item" href="#">NOVA MOOCA</a>
                            <a class="dropdown-item" href="#">PACAEMBU</a>
                            <a class="dropdown-item" href="#">PARADA XV DE NOVEMBRO</a>
                            <a class="dropdown-item" href="#">PARI</a>
                            <a class="dropdown-item" href="#">PARQUE BOA ESPERANCA</a>
                            <a class="dropdown-item" href="#">PARQUE BOTURUSSU</a>
                             <a class="dropdown-item" href="#">PARQUE DA MOOCA</a>
                            <a class="dropdown-item" href="#">PARQUE DO ESTADO</a>
                            <a class="dropdown-item" href="#">PARQUE EDU CHAVES</a>
                            <a class="dropdown-item" href="#">PARQUE NOVO MUNDO</a>
                            <a class="dropdown-item" href="#">PARQUE PAINEIRAS</a>
                            <a class="dropdown-item" href="#">PARQUE PAULISTANO</a>
                            <a class="dropdown-item" href="#">PARQUE SANTA RITA</a>
                            <a class="dropdown-item" href="#">PARQUE SAO DOMINGOS</a>
                            <a class="dropdown-item" href="#">PARQUE SAO JORGE</a>
                            <a class="dropdown-item" href="#">PARQUE SAO LUCAS</a>
                            <a class="dropdown-item" href="#">PEDREIRA</a>
                            <a class="dropdown-item" href="#">PENHA</a>
                            <a class="dropdown-item" href="#">PENHA DE FRANCA</a>
                            <a class="dropdown-item" href="#">PERDIZES</a>
                            <a class="dropdown-item" href="#">PERUS</a>
                            <a class="dropdown-item" href="#">PINHEIROS</a>
                            <a class="dropdown-item" href="#">PIQUERI</a>
                            <a class="dropdown-item" href="#">PIRITUBA</a>
                            <a class="dropdown-item" href="#">POMPÉIA</a>
                            <a class="dropdown-item" href="#">PONTE PEQUENA</a>
                            <a class="dropdown-item" href="#">PONTE RASA</a>
                            <a class="dropdown-item" href="#">PQ BRISTOL</a>
                            <a class="dropdown-item" href="#">PQ DO CARMO</a>
                           <a class="dropdown-item" href="#">PQ NOVO MUNDO</a>
                            <a class="dropdown-item" href="#">PRQ SAO LUCAS</a>
                            <a class="dropdown-item" href="#">QUARTA PARADA</a>
                            <a class="dropdown-item" href="#">QUINTA DA PAINEIRA</a>
                            <a class="dropdown-item" href="#">RIO BONITO</a>
                            <a class="dropdown-item" href="#">RIO PEQUENO</a>
                            <a class="dropdown-item" href="#">SÃO MIGUEL PAULISTA</a>
                            <a class="dropdown-item" href="#">SACOMÃ</a>
                            <a class="dropdown-item" href="#">SANTA CECÍLIA</a>
                             <a class="dropdown-item" href="#">SANTA EFIGÊNIA</a>
                            <a class="dropdown-item" href="#">SANTANA</a>
                            <a class="dropdown-item" href="#">SANTO AMARO</a>
                            <a class="dropdown-item" href="#">SÃO JOÃO CLIMACO</a>
                            <a class="dropdown-item" href="#">SAO MIGUEL</a>
                            <a class="dropdown-item" href="#">SAO MIGUEL PAULISTA</a>
                            <a class="dropdown-item" href="#">SAO PAULO</a>
                            <a class="dropdown-item" href="#">SAPOPEMBA</a>
                            <a class="dropdown-item" href="#">SAÚDE</a>
                            <a class="dropdown-item" href="#">SÉ</a>
                            <a class="dropdown-item" href="#">SOCORRO</a>
                            <a class="dropdown-item" href="#">SUMARÉ</a>
                            <a class="dropdown-item" href="#">SUMAREZINHO</a>
                            <a class="dropdown-item" href="#">TATUAPÉ</a>
                            <a class="dropdown-item" href="#">TREMEMBÉ</a>
                            <a class="dropdown-item" href="#">TUCURUVI</a>
                            <a class="dropdown-item" href="#">VILA ALBERTINA</a>
                            <a class="dropdown-item" href="#">VILA ALPINA</a>
                            <a class="dropdown-item" href="#">VILA AMERICANA</a>
                            <a class="dropdown-item" href="#">VILA ANGELICA</a>
                            <a class="dropdown-item" href="#">VILA ANHANGUERA</a>
                            <a class="dropdown-item" href="#">VILA ANTONIETA</a>
                            <a class="dropdown-item" href="#">VILA ARICANDUVA</a>
                            <a class="dropdown-item" href="#">VILA BANDEIRANTES</a>
                            <a class="dropdown-item" href="#">VILA BERTIOGA</a>
                            <a class="dropdown-item" href="#">VILA BONILHA</a>
                            <a class="dropdown-item" href="#">VILA BUARQUE</a>
                            <a class="dropdown-item" href="#">VILA BUENOS AIRES</a>
                            <a class="dropdown-item" href="#">VILA CALIFORNIA</a>
                            <a class="dropdown-item" href="#">VILA CAROLINA</a>
                            <a class="dropdown-item" href="#">VILA CARRÃO</a>
                            <a class="dropdown-item" href="#">VILA CURUÇÁ</a>
                            <a class="dropdown-item" href="#">VILA CURUÇA VELHA</a>
                            <a class="dropdown-item" href="#">VILA DALVA</a>
                            <a class="dropdown-item" href="#">VILA DAS MERCES</a>
                            <a class="dropdown-item" href="#">VILA DIVA</a>
                            <a class="dropdown-item" href="#">VILA EDE</a>
                            <a class="dropdown-item" href="#">VILA ELEONORA</a>
                            <a class="dropdown-item" href="#">VILA ELISEU</a>
                            <a class="dropdown-item" href="#">VILA EMA</a>
                            <a class="dropdown-item" href="#">VILA EMIR</a>
                            <a class="dropdown-item" href="#">VILA ESPERANÇA</a>
                            <a class="dropdown-item" href="#">VILA FIRMIANO PINTO</a>
                            <a class="dropdown-item" href="#">VILA FORMOSA</a>
                            <a class="dropdown-item" href="#">VILA GOMES CARDIM</a>
                            <a class="dropdown-item" href="#">VILA GRANADA</a>
                            <a class="dropdown-item" href="#">VILA GUARANI</a>
                            <a class="dropdown-item" href="#">VILA GUILHERME</a>
                            <a class="dropdown-item" href="#">VILA GUMERCINDO</a>
                            <a class="dropdown-item" href="#">VILA GUSTAVO</a>
                            <a class="dropdown-item" href="#">VILA HAMBURGUESA</a>
                            <a class="dropdown-item" href="#">VILA INDEPENDENCIA</a>
                            <a class="dropdown-item" href="#">VILA INDUSTRIAL</a>
                            <a class="dropdown-item" href="#">VILA ISABEL</a>
                            <a class="dropdown-item" href="#">VILA IZOLINA MAZZEI</a>
                            <a class="dropdown-item" href="#">VILA JAGUARÁ</a>
                            <a class="dropdown-item" href="#">VILA LAIS</a>
                            <a class="dropdown-item" href="#">VILA LEOPOLDINA</a>
                            <a class="dropdown-item" href="#">VILA LIVIEIRO</a>
                            <a class="dropdown-item" href="#">VILA MANCHESTER</a>
                            <a class="dropdown-item" href="#">VILA MARIA</a>
                            <a class="dropdown-item" href="#">VILA MARIA ALTA</a>
                            <a class="dropdown-item" href="#">VILA MARIANA</a>
                            <a class="dropdown-item" href="#">VILA MARIETA</a>
                            <a class="dropdown-item" href="#">VILA MATIAS</a>
                            <a class="dropdown-item" href="#">VILA MATILDE</a>
                            <a class="dropdown-item" href="#">VILA MAZZEI</a>
                            <a class="dropdown-item" href="#">VILA MEDEIROS</a>
                            <a class="dropdown-item" href="#">VILA MERCEDES</a>
                            <a class="dropdown-item" href="#">VILA MOINHO VELHO</a>
                            <a class="dropdown-item" href="#">VILA MONTEVIDEO</a>
                            <a class="dropdown-item" href="#">VILA MONUMENTO</a>
                            <a class="dropdown-item" href="#">VILA MORAES</a>
                            <a class="dropdown-item" href="#">VILA NANCY</a>
                            <a class="dropdown-item" href="#">VILA NHOCUNE</a>
                            <a class="dropdown-item" href="#">VILA NILO</a>
                            <a class="dropdown-item" href="#">VILA NORMA</a>
                            <a class="dropdown-item" href="#">VILA NOVA CONCEICAO</a>
                            <a class="dropdown-item" href="#">VILA NOVA CACHOEIRINHA</a>
                            <a class="dropdown-item" href="#">VILA NOVA CURUCA</a>
                            <a class="dropdown-item" href="#">VILA NOVA MANCHESTER</a>
                            <a class="dropdown-item" href="#">VILA NOVA MAZZEI</a>
                            <a class="dropdown-item" href="#">VILA NOVA YORK</a>
                            <a class="dropdown-item" href="#">VILA ORATÓRIO</a>
                            <a class="dropdown-item" href="#">VILA PAIVA</a>
                            <a class="dropdown-item" href="#">VILA PALMEIRAS</a>
                            <a class="dropdown-item" href="#">VILA PAULO SILAS</a>
                            <a class="dropdown-item" href="#">VILA PIERINA</a>
                            <a class="dropdown-item" href="#">VILA PIRAJUSSARA</a>
                            <a class="dropdown-item" href="#">VILA POMPEIA</a>
                            <a class="dropdown-item" href="#">VILA PROGRESSO</a>
                            <a class="dropdown-item" href="#">VILA PRUDENTE</a>
                            <a class="dropdown-item" href="#">VILA QUILHERME</a>
                            <a class="dropdown-item" href="#">VILA RÉ</a>
                            <a class="dropdown-item" href="#">VILA REGENTE FEIJO</a>
                            <a class="dropdown-item" href="#">VILA RICA</a>
                            <a class="dropdown-item" href="#">VILA RIO BRANCO</a>
                            <a class="dropdown-item" href="#">VILA RIO PEQUENO</a>
                            <a class="dropdown-item" href="#">VILA ROMANA</a>
                            <a class="dropdown-item" href="#">VILA SABRINA</a>
                            <a class="dropdown-item" href="#">VILA SANTA EULALIA</a>
                            <a class="dropdown-item" href="#">VILA SANTO ESTEFANO</a>
                            <a class="dropdown-item" href="#">VILA SAO FRANCISCO</a>
                            <a class="dropdown-item" href="#">VILA SAO GERALDO</a>
                            <a class="dropdown-item" href="#">VILA SIMONE</a>
                            <a class="dropdown-item" href="#">VILA SOCORRO</a>
                            <a class="dropdown-item" href="#">VILA SONIA</a>
                            <a class="dropdown-item" href="#">VILA TALARICO</a>
                            <a class="dropdown-item" href="#">VILA UNIAO</a>
                            <a class="dropdown-item" href="#">VILA VERA</a>
                            <a class="dropdown-item" href="#">VILA VERDE</a>
                            <a class="dropdown-item" href="#">VILA VIDAL</a>
                            <a class="dropdown-item" href="#">VILA ZELINA</a>
                        </div>
                    </div>
                    <div class="dropdown-bandeira">
                        <input type="hidden" name="bandeira" class="form-control">
                        <button class="btn btn-dark btn-custom dropdown-toggle" type="button" id="bandeira" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione a bandeira
                        </button>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="bandeira">
                            <a class="dropdown-item" href="#">BRANCA</a>
                            <a class="dropdown-item" href="#">RAIZEN</a>
                            <a class="dropdown-item" href="#">AGUA RASA</a>
                            <a class="dropdown-item" href="#">IPIRANGA</a>
                            <a class="dropdown-item" href="#">PETROBRAS DISTRIBUIDORA S.A.</a>
                        </div>
                    </div>
                    <div class="dropdown-produto">
                        <input type="hidden" name="produto" class="form-control">
                        <button class="btn btn-dark btn-custom dropdown-toggle" type="button" id="produto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione o produto
                        </button>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="produto">
                            <a class="dropdown-item" href="#">ETANOL</a>
                            <a class="dropdown-item" href="#">GASOLINA</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-5">
                <label style="font-size: 22px">Digite o nome do posto:</label>
                <input type="text" id="nome" name="nome" class="form-control">
            </div>
            <div class="form-group mt-5">
                <label style="font-size: 22px">Digite o preço:</label>
                <input type="text" id="preco" name="preco" class="form-control">
            </div>
            <button type="submit" class="mt-2 btn btn-dark btn-custom">Cadastrar</button>
        </fieldset>
    </form>
    <h3 class="text-center mt-5">{% block confirma %} Confirmar localização {% endblock %} </h3>
    <h3 class="text-center mt-2">{% block mapa %} (Colocar Mapa) {% endblock %} </h3>


<!-- PRIMEIRA PROPOSTA DE BOTÕES DE SELEÇÃO PARA CADASTRO 

<h1 class="text-center">{% block title %} Cadastrar o preço do combustível {% endblock %}</h1>
<div class="dropdown d-inline-block mt-3">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="bairro"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecionar Bairro
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Aclimação</a>
      <a class="dropdown-item" href="#">Água Branca</a>
      <a class="dropdown-item" href="#">Água Rasa</a>
      <a class="dropdown-item" href="#">Alto da Lapa</a>
      <a class="dropdown-item" href="#">Alto da Mooca</a>
      <a class="dropdown-item" href="#">Alto de Pinheiros</a>
      <a class="dropdown-item" href="#">Alto dos Pinheiros</a>
      <a class="dropdown-item" href="#">Artur Alvim</a>
     
  </div>
</div>

<div class="dropdown d-inline-block">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="Bandeira" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecionar Bandeira
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<div class="dropdown d-inline-block">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="Posto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecionar Posto
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<div class="dropdown d-inline-block">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="Produto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecionar Produto
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<h3 class="text-center mt-5">{% block confirma2 %} Confirmar localização {% endblock %} </h3>
<h3 class="text-center mt-2">{% block mapa2 %} (Colocar Mapa) {% endblock %} </h3>


<form method="post">
    <div class="form-group mt-5">
        <label for="formpreco" class="font-weight-bold"> Informar o preço: </label>
        <input type="text" class="form-control" id="formpreco"
               placeholder="Preço">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Cadastrar </button>
    </div>
</form>
-->
{% endblock %}
