{% extends "base.html" %}
{% block content %}

<form class="mt-5" action="{{ url_for('cadastrarPreco') }}" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="label-form-select" for="Bairroform">Selecione o bairro:</label>
      <select class="form-control" name="Bairroform" id="Bairroform">
            <option value="ACLIMACAO" >ACLIMACAO</option>
            <option value="AGUA BRANCA" >AGUA BRANCA</option>
            <option value="AGUA RASA" >AGUA RASA</option>
            <option value="ALTO DA LAPA" >ALTO DA LAPA</option>
            <option value="ALTO DA MOOCA" >ALTO DA MOOCA</option>
            <option value="ALTO DE PINHEIROS" >ALTO DE PINHEIROS</option>
            <option value="ARTUR ALVIM" >ARTUR ALVIM</option>
            <option value="BAIRRO DO ALEM" >BAIRRO DO ALEM</option>
            <option value="BAIRRO DO LIMAO" >BAIRRO DO LIMAO</option>
            <option value="BAIRRO LIMOEIRO" >BAIRRO LIMOEIRO</option>
            <option value="BARRA FUNDA" >BARRA FUNDA</option>
            <option value="BELA VISTA" >BELA VISTA</option>
            <option value="BELÉM" >BELÉM</option>
            <option value="BELENZINHO" >BELENZINHO</option>
            <option value="BOM RETIRO" >BOM RETIRO</option>
            <option value="BOSQUE DA SAUDE" >BOSQUE DA SAUDE</option>
            <option value="BRÁS" >BRÁS</option>
    </select>
    </div>
    <div class="form-group col-md-4">
      <label class="label-form-select" for="Bandeiraform">Selecione a bandeira:</label>
      <select class="form-control" name="Bandeiraform" id="Bandeiraform">
        <option value="BRANCA" >BRANCA</option>
        <option value="AGUA RASA" >AGUA RASA</option>
        <option value="IPIRANGA" >IPIRANGA</option>
        <option value="PETROBRAS DISTRIBUIDORA S.A." >PETROBRAS DISTRIBUIDORA S.A.</option>
    </select>
    </div>
    <div class="form-group col-md-4">
      <label class="label-form-select" for="Combustivelform">Selecione o produto:</label>
      <select class="form-control" name="Combustivelform" id="Combustivelform">
                    <option value="ETANOL" >ETANOL</option>
                    <option value="GASOLINA" >GASOLINA</option>
      </select>
    </div>
  </div>

  <div class="form-group mt-5">
    <label class="label-input">Digite o nome do posto:</label>
    <input type="text" id="nome" name="nome" class="form-control">
  </div>
  <div class="form-group mt-5">
    <label class="label-input">Digite o preço:</label>
    <input type="text" id="preco" name="preco" class="form-control">
  </div>
    <button type="submit" class="btn btn-dark btn-custom">Cadastrar</button>
</form>
   
<h3 class="text-center mt-5">{% block confirma %} Confirmar localização {% endblock %} </h3>
<h3 class="text-center mt-2">{% block mapa %} (Colocar Mapa) {% endblock %} </h3>
{% endblock %}
