<link rel="stylesheet" type="text/css" href="static/css/leaflet.css">
<script src="static/js/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% extends "base.html" %}
{% block content %}
    <form class="needs-validation" action="{{ url_for('postosPorBairro') }}" method="post" id="search" novalidate>
        <fieldset>
            <div class="form-group mt-3">
            <label class="label-input" for="bairroUsuario">Digite o seu bairro: </label>
            <input type="text" id="bairroUsuario" name="bairroUsuario" class="form-control" required>
            <div class="invalid-feedback">
                Este campo precisa ser preenchido.
            </div>
            </div>
            <button type="submit" class="btn btn-dark btn-custom">Buscar</button>
        </fieldset>
    </form>
    <h3 class="text-center mt-2"> {% block local %}  Localização do posto mais próximo {% endblock %} </h3>
    <!-- Fonte para mapa: https://jonathansoma.com/tutorials/webapps/mapping-our-schools/-->
    <div id="map" style="height: 500px; "></div>
    <script type="text/javascript">
    
        //Pega informação do endereço digitado.
        document.getElementById("search").addEventListener("submit", function (e){
            var address = e.target.endereco.value;
        });

        // ---- MAPA ---
        // The first parameter are the coordinates of the center of the map
        // The second parameter is the zoom level
        var map = L.map('map').setView([-23.5506507, -46.6333824], 12);

        // {s}, {z}, {x} and {y} are placeholders for map tiles
        // {x} and {y} are the x/y of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
          var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });

        // Now add the layer onto the map
        map.addLayer(layer);

        // Transforma o input do endereço para maiúsculo
        $(function() {
            $('input').keyup(function() {
                this.value = this.value.toLocaleUpperCase();
            });
        });
      </script>
{% endblock %}
